.AutoMenuOpenButton, .AutoMenuCloseButton {
	display: none;
}

.AutoToc {
	margin-top: 1rem;
	margin-bottom: 1rem;

	/* 
		In some layouts we add negative margin to auto-toc, and corresponding padding to links, so that link background extends to entire width of container
	*/
	--auto-toc-outset: 0px;
	margin-left: calc(-1 * var(--auto-toc-outset));
	margin-right: calc(-1 * var(--auto-toc-outset));
}
.AutoTocLink {
    display: block;
    text-decoration: none;

    /* If links wrap, lines should be close together, but there should still be decent vertical gap between adjacent links*/
    line-height: 1.1;
    padding: 4px 0;

    padding-left: var(--auto-toc-outset);
    padding-right: var(--auto-toc-outset);

    /* only used in certain layouts*/
    --visible-highlight-color: #e4e4e4;
}
.AutoTocLink,
.AutoTocLink:visited {
	color: blue;
	color: var(--link-color, blue);
}
.AutoTocLink:hover {
	text-decoration: underline;
}
.AutoTocLink-h1 {
    font-weight: bold;
    font-size: 1.1em;
}
.AutoTocLink-h2 {
}
.AutoTocLink-h3 {
    padding-left: 1rem;
    padding-left: calc(1rem + var(--auto-toc-outset));
    font-size: 0.9em;
}
.AutoTocLink-h4 {
    padding-left: 2rem;
    padding-left: calc(2rem + var(--auto-toc-outset));
    font-size: 0.8em;
}
.AutoTocLink-h5 {
	padding-left: 3rem;
    padding-left: calc(3rem + var(--auto-toc-outset));
	font-size: 0.8em;
}
.AutoTocLink-h6 {
	padding-left: 4rem;
    padding-left: calc(4rem + var(--auto-toc-outset));
	font-size: 0.8em;
}

/* Desktop sidebar layout */
@supports(position: fixed) {@media(min-width: 1000px) {
	:root {
		/* feel free to override */
		--body-margin-left: 16px;
		--auto-menu-width: 300px;
	}

	body {
		/* 
			If you want to change body left margin, be sure to do it by adjusting the --body-margin-left custom property

			margin-right has no significance to us, so you can just override it directly
		*/
		margin-left: calc(var(--auto-menu-width) + var(--body-margin-left)) !important;
		margin-right: var(--body-margin-left);
	}
	.AutoMenu{
		--menu-horizontal-padding: 1rem;
		position: fixed;
		left: 0; top: 0; bottom: 0;
		overflow-y: auto;
		width: var(--auto-menu-width);
		border-right: 1px solid #aaa;
		box-sizing: border-box;
		padding: 0 var(--menu-horizontal-padding);
	}
	.AutoMenu-sidebar-hidden {
		display: none;
	}

	/*
		Tell AutoToc to scroll and highlight visible sections.
		Negative margin on AutoToc and extra padding on all links,
		so that background extends to entire width of sidebar
	*/
	.AutoMenu .AutoToc {
	    --scroll-toc: true;
	    --auto-toc-outset: var(--menu-horizontal-padding);
	}
	.AutoMenu.AutoTocLink-visible {
	    background-color: var(--visible-highlight-color);
	}

}}
/* Mobile "show with button" layout */
@media not all and (min-width: 1000px) {
	:root {
		/* feel free to override */
		--body-horizontal-margin: 10px;
		--auto-menu-button-background: rgba(128,128,128, 0.8);
	}
	body {
		/* 
			If you want to change body horizontal margin, be sure to adjust these custom properties, so that the AutoMenu adjusts appropriately 
		*/
		margin-left: var(--body-horizontal-margin) !important;
		margin-right: var(--body-horizontal-margin) !important;
		margin-top: 0;
	}
	.AutoMenu{
		box-sizing: border-box;
		width: calc(100% + 2 * var(--body-horizontal-margin));
		transform: translateX(calc(-1 * var(--body-horizontal-margin)));
		padding: 0 var(--body-horizontal-margin);
		border-bottom: 1px solid #ccc;

		position: relative;
		background-color: white;
	}
	.AutoMenu.AutoMenu-active {
		position: sticky;
		top: 0;
		z-index: 100000000000000;
		max-height: 100vh;
		overflow: auto;
		box-shadow: 0 0 10px 5px #888;
	}

	.AutoMenu.AutoMenu-active auto-toc {
	    --auto-toc-outset: var(--body-horizontal-margin);
	}
	.AutoMenu.AutoMenu-active .AutoTocLink-visible {
	    background-color: var(--visible-highlight-color);
	}

	.AutoMenuOpenButton,
	.AutoMenuCloseButton {
		border: none;
		margin: 0;
		color: white;
		background-color: transparent;

		width: 38px;
		height: 38px;
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 1;

		font-size: 25px;
		font-weight: bold;
	}
	.AutoMenuOpenButton{
		background-color: var(--auto-menu-button-background);
		position: fixed;
		top: 0; right: 0;
	}
	.AutoMenuCloseWrapper {
		background-color: var(--auto-menu-button-background);
		display: flex;
		justify-content: flex-end;
		margin-left: calc(-1 * var(--body-horizontal-margin));
		margin-right: calc(-1 * var(--body-horizontal-margin));
	}
}